@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
    <div>
        <input id="username" type="text" placeholder="Github Username"/>
        <input id="search" type="button" value="Search"/>
    </div>
    </section>
</main>