@model Accredit_Task.Models.User

@*@{ ViewBag.Title = "Results";  }*@

<main aria-labelledby="title">
    <h2 id="title">@Model.Username</h2>
    <h3 id="title">@Model.Location</h3>

    <img src="@Model.Avatar" />

    <p>Repos:</p>

</main>